extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2

        h1 #{event.name}

        .panel.panel-default
          .panel-heading Event Information
          ul.list-group
            li.list-group-item Name: #{event.name}
            li.list-group-item Date: #{event.date}
            li.list-group-item Time: #{event.time}
            li.list-group-item Location: #{event.location}
            li.list-group-item Description: #{event.description}

      .col-md-8.col-md-offset-2
        form(action='/user/show' method='get')
          button.btn.btn-success(type='submit') Return to Dashboard
        br

        
        if isHost
          form(method="get" action='/event/' + eventId + '/edit')
            button.btn.btn-danger(type='submit') Edit Event
          br
          br

    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Dishes For Guests To Bring
          table.table.table-hover
            thead
              tr
                th Course
                th Dish Name
                th Who's Bringing It?
            tbody
              if dishes.length
                each dish in dishes
                  tr
                    td #{dish.course}
                    if dish.name
                      td #{dish.name}
                    else
                      td
                        form(class='form-inline' action='/event/' + eventId + '/dish/' + dish.id + '/update' method='post')
                          input(type="text" class="form-control input-sm" name="dishName" id="dishName")
                          button.btn.btn-primary.btn-xs(style='margin-left:5px' type='submit') Ok
                    if dish.userName
                      td #{dish.userName}
                    else
                      td
                        form(action='/event/' + eventId + '/dish/' + dish.id + '/update' method='post')
                          input(type="hidden" class="form-control" name="dishName" value=dish.name)
                          button.btn.btn-primary.btn-xs(type='submit') I'll Bring It
              else
                tr
                  td There are no dishes to bring to this event
        if isHost
          form(method="get" action='/event/' + eventId + '/dish/new')
            button.btn.btn-primary(type='submit') Add More Dishes
          br
          br  

    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Guest List

          if guests.length
            ul.list-group
              each guest in guests
                li.list-group-item #{guest.name}
          else
            ul.list-group
              li.list-group-item There are no guests invited to this event

        if isHost
          form(method="get" action='/event/' + eventId + '/guest/new')
            button.btn.btn-primary(type='submit') Invite More Guests
          br
          br  

    if (event.bitcoinAddress)
      script(src='//blockr.io/js_external/coinwidget/coin.js')
      .row
        .col-md-8.col-md-offset-2
          .bitcoin
            h4 Send Some BitCoin To The Host
            script.
              CoinWidgetCom.go({
                wallet_address: '#{event.bitcoinAddress}',
                currency: 'bitcoin',
                counter: 'count',
                lbl_button: 'Guilt Jar',
                lbl_count: 'Guilt Jar',
                lbl_amount: 'BTC',
                lbl_address: 'Deposit some bitcoins if you feel the need!',
                qrcode: true,
                alignment: 'bl',
                decimals: 8,
                size: "big",
                color: "dark",
                countdownFrom: "0",
                element: "#coinwidget-bitcoin-1Ex3TnEdRthoBX8UaGHni47Qy178Z2eWhS",
                onShow: function(){},
                onHide: function(){}
              });
            #coinwidget-bitcoin-1Ex3TnEdRthoBX8UaGHni47Qy178Z2eWhS
