extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2

        h1 *Put Event Name Here**

        .panel.panel-default
          .panel-heading Event Information
          ul.list-group
            li.list-group-item Name: #{event.name}
            li.list-group-item Date: #{event.date}
            li.list-group-item Time: #{event.time}
            li.list-group-item Location: #{event.location}
            li.list-group-item Description: #{event.description}

              
    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Dishes For Guests To Bring
          table.table.table-hover
            thead
              tr
                th Course
                th Guest Name
                th Dish Name
            tbody
            if hosting.length
              each event in hosting
                tr
                  td
                    a(href='/event/' + event.id + '/show') #{event.name}
                  td
                    a(href='/event/' + event.id + '/show') #{event.date}
                  td
                    a(href='/event/' + event.id + '/show') #{event.time}
                  td
                    a(href='/event/' + event.id + '/show') #{event.location}
            else
              tr
                td You're not hosting any events

    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Guest List

          if guests.length
            ul.list-group
              each guest in guests
                li.list-group-item #{guest.name}
          else
            p There are no guests invited to this event
