extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2

        h1 #{event.name}
        br

        .panel.panel-default
          .panel-heading Event Information
          ul.list-group
            li.list-group-item Name: #{event.name}
            li.list-group-item Date: #{event.date}
            li.list-group-item Time: #{event.time}
            li.list-group-item Location: #{event.location}
            li.list-group-item Description: #{event.description}


    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Dishes For Guests To Bring
          table.table.table-hover
            thead
              tr
                th Course
                th Guest Name
                th Dish Name
            tbody
              if dishes.length
                each dish in dishes
                  tr
                    td #{dish.course}
                    td #{dish.userName}
                    td #{dish.name}
              else
                tr
                  td There are no dishes to bring to this event

    .row
      .col-md-8.col-md-offset-2

        .panel.panel-default
          .panel-heading Guest List

          if guests.length
            ul.list-group
              each guest in guests
                li.list-group-item #{guest.name}
          else
            p There are no guests invited to this event

    script(src='//blockr.io/js_external/coinwidget/coin.js')
    .row
      .col-md-8.col-md-offset-2
        .bitcoin
          h4 Send Some BitCoin To The Host
          script.
            CoinWidgetCom.go({
              wallet_address: '#{event.bitcoinAddress}',
              currency: 'bitcoin',
              counter: 'count',
              lbl_button: 'Guilt Jar',
              lbl_count: 'Guilt Jar',
              lbl_amount: 'BTC',
              lbl_address: 'Deposit some bitcoins if you feel the need!',
              qrcode: true,
              alignment: 'bl',
              decimals: 8,
              size: "big",
              color: "dark",
              countdownFrom: "0",
              element: "#coinwidget-bitcoin-1Ex3TnEdRthoBX8UaGHni47Qy178Z2eWhS",
              onShow: function(){},
              onHide: function(){}
            });
          #coinwidget-bitcoin-1Ex3TnEdRthoBX8UaGHni47Qy178Z2eWhS
