extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
    .row
      .col-md-8.col-md-offset-2
        h1 My Dashboard
        .userDetails
          p
            .name
              name Name: #{user.name}
            .email
              email Email: #{user.email}
            form(method="get" action="/user/edit")
              button.btn.btn-default(type='submit') Edit Your Details
        br      
        h3 Creating an Event      
        .createEvent
          form(method="get" action="/event/new")
              button.btn.btn-default(type='submit') Create Event

        br
        .eventsHosting
          h3 Events you are Hosting:
        if hostedEvents.length
          each event in hostedEvents
            .event
              a(href='/event/' + event.id) #{event.name} #{event.date} #{event.time}
        else
          .noEvents
            p You're not hosting any events
            
        br
        .eventsGuesting
          .subtitle
            h3 Events you are Invited to:
          if guestedEvents.length
            each event in guestedEvents
              .event
                a(href='/event/' + event.id) #{event.name} #{event.date} #{event.time}
          else
            .noEvents
              p You're not invited to any events
