extends layout

block content
  body#page-top(data-spy='scroll')
  include nav
  .container
  
    //- EVENT INFO ROW
    .row
      .col-md-8.col-md-offset-2
      
        h1 My Dashboard
        
        .panel.panel-default
          .panel-heading Your Information
          ul.list-group
            li.list-group-item Name: #{user.name}
            li.list-group-item Email: #{user.email}
            
        form(method="get" action="/user/edit")
          button.btn.btn-default(type='submit') Edit Your Details
        br      
        h3 Creating an Event      
        .createEvent
          form(method="get" action="/event/new")
              button.btn.btn-default(type='submit') Create Event
              
        br
        br

    //- HOSTING ROW
    .row
      .col-md-8.col-md-offset-2
      
        .panel.panel-default
          .panel-heading Events I'm Hosting
          table.table.table-hover
            thead
              tr
                th Name
                th Date
                th Time
                th Location
            tbody
              if hosting.length
                each event in hosting 
                  tr 
                    td
                      a(href='/event/' + event.id + '/show') #{event.name}
                    td
                      a(href='/event/' + event.id + '/show') #{event.date}
                    td
                      a(href='/event/' + event.id + '/show') #{event.time}
                    td
                      a(href='/event/' + event.id + '/show') #{event.location}
              else          
                tr
                  td You're not hosting any events
      
      
    //- INVITES ROW      
    .row
      .col-md-8.col-md-offset-2
        
        .panel.panel-default
          .panel-heading Events I'm Invited To
          table.table.table-hover
            thead
              tr
                th Name
                th Date
                th Time
                th Location
            tbody
              if attending.length
                each event in attending 
                  tr
                    td
                      a(href='/event/' + event.id + '/show') #{event.name}
                    td
                      a(href='/event/' + event.id + '/show') #{event.date}
                    td
                      a(href='/event/' + event.id + '/show') #{event.time}
                    td
                      a(href='/event/' + event.id + '/show') #{event.location}
              else          
                tr
                  td You're not attending any events
        
        
        
